[class*="col"] {
    padding: 1rem;
    background-color: #d6dee2;
    text-align: center;
    color: rgb(238, 227, 227);
    

  }
  .child{
    background-color: white;
  }
  .image{
    align-items: center;
  }
  h1{
      text-align: center;
      color: rgb(19, 20, 19);
  }
  h1:hover{

    opacity: 0.3;
    transform: scale(1.0);
}
  .container{
    align-items: center;
    background-color: rgb(205, 205, 186);
    border-radius: 25px;
    
  }
  .container1{
    
    text-align:center;
    background-color: aliceblue;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    display: table-cell;
    vertical-align: middle; 
    
  }
  .container1:hover{
    opacity: 0.3;
    transform: scale(1.5);
  }
  .container2{
    
    text-align:center;
    background-color: aliceblue;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    display: table-cell;
    vertical-align: middle; 
    
  }
  .container2:hover{
    opacity: 0.3;
    transform: scale(1.5);
  }
  .container3{
    
    text-align:center;
    background-color: aliceblue;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    display: table-cell;
    vertical-align: middle; 
    
  }
  .container3:hover{
    opacity: 0.3;
    transform: scale(1.5);
  }
  
  
body{
  background-color: rgb(91, 84, 84);
}
.card{
  width: 500px;
  height: 500px;
  align-items: center;
}
.div{
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #061532, #3d4764);
  color: rgb(230, 213, 213);
  margin: 100px 0;
  border-radius: 7px;
}
.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

p{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.div:hover{
  opacity: 0.3;
  transform: scale(1.0);
}